header {
    .header-container {
        &.about-me {
            background-image: linear-gradient(rgba(16, 16, 16, 0.4)),
            url("./assets/image/about-portrait.jpg");
            background-position: top;
            background-size: cover;
        }
    }
}

section.about-me {
        padding: 140px 0;
}


.story {
    p {
        margin-bottom: 40px;
        font-size: clamp(1.4rem, 2.2vw, 1.8rem);
        line-height: clamp(2.2rem, 3.2vw, 2.6rem);
    }
}

.list-container {
    display: flex;
    h2, .skill-list {
        width: 50%;
    }
    .skill-list {
        li {
            letter-spacing: 0.3px;
            display: inline-block;
            border: 1px solid white;
            padding: 10px;
            border-radius: 5px;
            margin: 10px 5px;
            font-size: clamp(1.2rem, 2.2vw, 1.8rem);
            line-height: clamp(1.8rem, 3.2vw, 2.6rem);
        }
    }
}
.experience-list {
    margin-left: 48px;
}
.experience-wrap {
    font-size: clamp(1.2rem, 2.2vw, 1.8rem);
    line-height: clamp(1.8rem, 3.2vw, 2.6rem);
    letter-spacing: 0.3px;
    display: flex;
    margin: 10px 0 24px;
    .number {
        display: inline-block;
        margin-right: 24px;
    }
    .job-title {
        padding-bottom: 12px;
    }
    .muted-text {
        color: grey;
    }
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    section.about-me {
            padding: 80px 0;
        }
    .experience-list {
        margin-left: 0px;
    }
    .list-container {
        display: block;
        h2, .skill-list {
            width: 100%;
        }
    }

}

/* Landscape phones and down */
@media (max-width: 480px) {

}