$primaryFont: 'Questrial';
$secondaryFont: 'DM Sans';

$fontColor: whitesmoke;



body {
    background-color: #101010;
    color: $fontColor;
    font-family: $primaryFont;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: $fontColor;
    font-size: 1.4rem;
    text-transform: uppercase;

}

li {
    color: $fontColor;
    font-size: clamp(1.2rem, 2.2vw, 1.8rem);
    line-height: clamp(1.8rem, 3.2vw, 2.6rem);
    text-transform: uppercase;
}

h1 {
    font-family: $secondaryFont;
    font-weight: 500;
    font-size: clamp(3rem, 8vw, 9rem);
    margin-top: clamp(1.6rem, 3vw, 3rem);
    margin-bottom: clamp(1.6rem, 3vw, 3rem);
}

h2 {
    font-family: $secondaryFont;
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 6rem);
    margin-bottom: 80px;
}

p {
    letter-spacing: 0.01em;
    font-size: clamp(1rem, 2vw, 1.2rem);
    line-height: clamp(1.2rem, 2.5vw, 1.6rem)
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  &.constrain {
    width: 80%
  }
}

.link-animate {
    transform: translateX(0px);
    transition: transform 400ms ease-in-out;

    &:hover, &:focus {
        transform: translateX(20px)
    }
    
}

.link-orange {
    color: white;
    transition: color 200ms ease-in-out;
    &:hover, &:focus {
       color: orange;
    }

}

.skill-highlight {
    color: orange
}

@media (max-width: 768px) {
    h2 {
        margin-bottom: 40px;
    }

}