.hero-slide-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.hero-left {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    margin-left: 100px;
}

.hero-right {
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:5;
    &.first {
        background-image: linear-gradient(
            rgba(16, 16, 16, 0.2)), url('./assets/image/profile-portrait.jpg')
    }
    &.second {
        background-image: url('./assets/image/wordParty.png'), linear-gradient(
            rgba(16, 16, 16, 0.2))
    }
    &.third {
        background-image: url('./assets/image/realEstate.png'), linear-gradient(
            rgba(16, 16, 16, 0.2))
    }
    &.forth {
        background-image: url('./assets/image/restauarantApp.png'), linear-gradient(
            rgba(16, 16, 16, 0.2))
    }
    &.fifth {
        background-image: url('./assets/image/jewelHub.png'), linear-gradient(
            rgba(16, 16, 16, 0.2))
    } 
}

.hero-title-wrap {
    display: flex;
    &.center {
        justify-content: center;
    }
}

.subtitle {
    font-size: clamp(1.2rem, 2.2vw, 1.8rem);
    line-height: clamp(1rem, 2.5vw, 2rem)
}

.slide-number {
    font-size: clamp(1rem, 2.5vw, 2rem);
    height: 2.4rem;
    margin-left: 8px;
}

.hero-paragraph {
    max-width: 25vw;
    font-size: clamp(1rem, 2.2vw, 1.8rem);
    line-height: clamp(1.4rem, 3vw, 2.4rem);
    padding-bottom: 40px;
}

a.left-margin {
    margin-left: 10px;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    .hero-left {
        justify-content: center;
        left: 0;
        margin-left: 0;
    }
    .hero-paragraph {
        max-width: 50vw;
    }
    .hero-right {
        background-image: linear-gradient(
            rgba(16, 16, 16, 0.6));
        width: 100%;
        top: 60px;
        right: 0;
            &.first {
        background-image: linear-gradient(
            rgba(16, 16, 16, 0.6)), url('./assets/image/profile-portrait.jpg')
        }
        &.second {
            background-image: linear-gradient(
                rgba(16, 16, 16, 0.8)), url('./assets/image/wordParty.png')
        }
        &.third {
            background-image: linear-gradient(
                rgba(16, 16, 16, 0.8)), url('./assets/image/realEstate.png')
        }
        &.forth {
            background-image: linear-gradient(
                rgba(16, 16, 16, 0.8)), url('./assets/image/restauarantApp.png')
        }
        &.fifth {
            background-image: linear-gradient(
            rgba(16, 16, 16, 0.8)), url('./assets/image/jewelHub.png')
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .hero-paragraph {
        max-width: 80vw;
    }
    .hero-right {
        top: 60px;
    }
}