.hero-slide-container {
  height: 100%;
  width: 100%;
}

.hero-left {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  z-index: 10;
  margin-left: 100px;
}

.hero-right {
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  &.first {
    background-image: linear-gradient(rgba(16, 16, 16, 0.4)),
      url("./assets/image/profile-portrait.jpg");
  }
}

.hero-title-wrap {
  display: flex;
  &.center {
    justify-content: center;
  }
}

.subtitle {
  font-size: clamp(1.2rem, 2.2vw, 1.8rem);
  line-height: clamp(1rem, 2.5vw, 2rem);
}

.slide-number {
  font-size: clamp(1rem, 2.5vw, 2rem);
  height: 2.4rem;
  margin-left: 8px;
}

.hero-paragraph {
  max-width: 25vw;
  font-size: clamp(1.2rem, 2.2vw, 1.8rem);
  line-height: clamp(1.8rem, 3.2vw, 2.6rem);
  margin-bottom: clamp(24px, 2vw, 36px);
  max-width: clamp(200px, 32vw, 560px)
}

a.left-margin {
  margin-left: 10px;
}

.chevron {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
}

.chevron-icon {
  transform: rotate(90deg);
}

.learn-more {
  margin-top: 32px;
  display: inline-block;
  font-size: clamp(1.2rem, 2.2vw, 1.8rem) !important;
  line-height: clamp(1rem, 2.5vw, 2rem) !important;
}
.social-link-container {

  margin-top: 10px;
  width: max-content;
  a {
    margin-right: 10px;
    font-size: clamp(1.2rem, 2.2vw, 1.8rem) !important;
    line-height: clamp(1rem, 2.5vw, 2rem) !important;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .hero-left {
    justify-content: center;
    margin-left: 0;
    width: 100%;
    align-items: flex-end;
    padding-bottom: 100px;
  }
  .hero-paragraph {
    max-width: 80vw;
  }
  .hero-right {
    background-image: linear-gradient(rgba(16, 16, 16, 0.7));
    width: 100%;
    top: 60px;
    right: 0;
    &.first {
      background-image: linear-gradient(rgba(16, 16, 16, 0.7)),
        url("./assets/image/profile-portrait.jpg");
    }
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {
  .hero-right {
    top: 60px;
  }
}
