a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #101010;
  color: whitesmoke;
  font-family: "Questrial";
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.4rem;
  text-transform: uppercase;
}

li {
  color: whitesmoke;
  font-size: clamp(1.2rem, 2.2vw, 1.8rem);
  line-height: clamp(1.8rem, 3.2vw, 2.6rem);
  text-transform: uppercase;
}

h1 {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: clamp(3rem, 8vw, 9rem);
  margin-top: clamp(1.6rem, 3vw, 3rem);
  margin-bottom: clamp(1.6rem, 3vw, 3rem);
}

h2 {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: clamp(2rem, 5vw, 6rem);
  margin-bottom: 80px;
}

p {
  letter-spacing: 0.01em;
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: clamp(1.2rem, 2.5vw, 1.6rem);
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}
.wrapper.constrain {
  width: 80%;
}

.link-animate {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}
.link-animate:hover, .link-animate:focus {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.link-orange {
  color: white;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
.link-orange:hover, .link-orange:focus {
  color: orange;
}

.skill-highlight {
  color: orange;
}

@media (max-width: 768px) {
  h2 {
    margin-bottom: 40px;
  }
}
header {
  position: relative;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 200;
}
header nav.dark {
  background-color: #101010;
}
header nav.frosted {
  -webkit-filter: drop-shadow(5px -5px 15px black);
          filter: drop-shadow(5px -5px 15px black);
  background-color: rgba(152, 151, 151, 0.25); /* Just adjust the color or opacity to make the text pop! */
  -webkit-box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
          box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
}
header nav #toggle {
  display: none;
}
header nav .drop-down-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #101010;
  position: fixed;
  width: 100%;
  height: 50vh;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
header nav .drop-down-nav.frosted {
  background-color: rgba(61, 59, 59, 0.85);
}
header nav .drop-down-nav li {
  display: block;
}
header nav .drop-down-container.left {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 100px;
}
header nav .drop-down-container.left a {
  padding: 10px 0;
  margin: 32px 16px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header nav .drop-down-container.left a:hover, header nav .drop-down-container.left a:focus {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}
header nav .drop-down-container.left p {
  margin: 0 5px;
  font-size: 1.4rem;
}
header nav .drop-down-container.right a {
  padding: 20px;
}
header nav .drop-down-container.right p {
  padding: 0;
  margin: 0 5px;
}
header nav #toggle:checked + ul.drop-down-nav {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
header nav label[for=toggle] {
  display: block;
  font-size: 3rem;
  color: #231f1f;
  height: auto;
}
header nav img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  cursor: pointer;
}
header nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header {
    position: static;
  }
  header nav {
    position: fixed;
    background-color: #101010;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  header nav img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    padding: 10px;
  }
  header nav .drop-down-container.left {
    padding: 40px;
  }
}
header .header-container {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-slide-container {
  height: 100%;
  width: 100%;
}

.hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  z-index: 10;
  margin-left: 100px;
}

.hero-right {
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}
.hero-right.first {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0.4))), url("./assets/image/profile-portrait.jpg");
  background-image: linear-gradient(rgba(16, 16, 16, 0.4)), url("./assets/image/profile-portrait.jpg");
}

.hero-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero-title-wrap.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitle {
  font-size: clamp(1.2rem, 2.2vw, 1.8rem);
  line-height: clamp(1rem, 2.5vw, 2rem);
}

.slide-number {
  font-size: clamp(1rem, 2.5vw, 2rem);
  height: 2.4rem;
  margin-left: 8px;
}

.hero-paragraph {
  max-width: 25vw;
  font-size: clamp(1.2rem, 2.2vw, 1.8rem);
  line-height: clamp(1.8rem, 3.2vw, 2.6rem);
  margin-bottom: clamp(24px, 2vw, 36px);
  max-width: clamp(200px, 32vw, 560px);
}

a.left-margin {
  margin-left: 10px;
}

.chevron {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
}

.chevron-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.learn-more {
  margin-top: 32px;
  display: inline-block;
  font-size: clamp(1.2rem, 2.2vw, 1.8rem) !important;
  line-height: clamp(1rem, 2.5vw, 2rem) !important;
}

.social-link-container {
  margin-top: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.social-link-container a {
  margin-right: 10px;
  font-size: clamp(1.2rem, 2.2vw, 1.8rem) !important;
  line-height: clamp(1rem, 2.5vw, 2rem) !important;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .hero-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 100px;
  }
  .hero-paragraph {
    max-width: 80vw;
  }
  .hero-right {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0.7)));
    background-image: linear-gradient(rgba(16, 16, 16, 0.7));
    width: 100%;
    top: 60px;
    right: 0;
  }
  .hero-right.first {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0.7))), url("./assets/image/profile-portrait.jpg");
    background-image: linear-gradient(rgba(16, 16, 16, 0.7)), url("./assets/image/profile-portrait.jpg");
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .hero-right {
    top: 60px;
  }
}
body {
  margin: 0;
  padding: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 300;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
header .header-container.about-me {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0.4))), url("./assets/image/about-portrait.jpg");
  background-image: linear-gradient(rgba(16, 16, 16, 0.4)), url("./assets/image/about-portrait.jpg");
  background-position: top;
  background-size: cover;
}

section.about-me {
  padding: 140px 0;
}

.story p {
  margin-bottom: 40px;
  font-size: clamp(1.4rem, 2.2vw, 1.8rem);
  line-height: clamp(2.2rem, 3.2vw, 2.6rem);
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-container h2, .list-container .skill-list {
  width: 50%;
}
.list-container .skill-list li {
  letter-spacing: 0.3px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 5px;
  font-size: clamp(1.2rem, 2.2vw, 1.8rem);
  line-height: clamp(1.8rem, 3.2vw, 2.6rem);
}

.experience-list {
  margin-left: 48px;
}

.experience-wrap {
  font-size: clamp(1.2rem, 2.2vw, 1.8rem);
  line-height: clamp(1.8rem, 3.2vw, 2.6rem);
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 24px;
}
.experience-wrap .number {
  display: inline-block;
  margin-right: 24px;
}
.experience-wrap .job-title {
  padding-bottom: 12px;
}
.experience-wrap .muted-text {
  color: grey;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  section.about-me {
    padding: 80px 0;
  }
  .experience-list {
    margin-left: 0px;
  }
  .list-container {
    display: block;
  }
  .list-container h2, .list-container .skill-list {
    width: 100%;
  }
}
/* Landscape phones and down */
body.work {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8))), url("./assets/image/work-texture.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url("./assets/image/work-texture.jpg");
  background-size: repeat;
  color: black;
  -webkit-transition: all 5000ms linear;
  transition: all 5000ms linear;
}

.project {
  color: black;
}

.number.work {
  color: black;
}

.muted-text.work {
  margin: 10px 0px;
}

.muted-text.work-type {
  background: orange;
  border-radius: 6px;
  color: black;
  padding: 4px 6px;
}

.experience-wrap.work {
  border-bottom: 1px solid rgba(47, 79, 79, 0.357);
  margin: 0;
  padding: 10px 0 24px;
}
.experience-wrap.work.last {
  border-bottom: none;
}

.tech {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 8px;
  margin-right: 8px;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 125%;
  color: black;
}
.tech-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(233, 244, 245)), to(rgb(209, 253, 230)));
  background-image: linear-gradient(to right, rgb(233, 244, 245) 0%, rgb(209, 253, 230) 100%);
}
.tech-2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(243, 245, 233)), to(rgb(250, 237, 221)));
  background-image: linear-gradient(to right, rgb(243, 245, 233) 0%, rgb(250, 237, 221) 100%);
}
.tech-3 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(245, 233, 243)), to(rgb(213, 209, 253)));
  background-image: linear-gradient(to right, rgb(245, 233, 243) 0%, rgb(213, 209, 253) 100%);
}

footer {
  height: 300px;
}